{{>nav}}
<div class="d-flex justify-content-evenly my-4">
    <div class="col-4 p-2 border border-dark rounded">
        <h1 class="bg-light p-2">Students List</h1>
        <ul>
            {{#each students}}
                <li class="h3 p-2 border border-primary rounded">{{this}}</li>
            {{/each}}
        </ul>
      {{#if empty}}  <a class="btn btn-primary" href="/clearlist">Clearlist</a>{{/if}}
    </div>
    <div class="col-4 p-3 border border-primary rounded">
        <form method="post" action="/students">
            <label class="form-label h2 p-1" for="name">Name of Student</label>
            <div class="input">
                <input
                 
                    class="form-control p-3"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Name of Student"
                />
              <button class="btn btn-primary my-2" type="submit">Add student</button>
            </div>
        </form>
    </div>
</div>